<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>
          <a href="/">
            <img class="logo" src="" alt="EZ Site" />
          </a>
        </h1>
        <br>
        <h2 class="text-white subheader">Create a simple website in a few clicks!</h2>
    
    
        
        <ul class="get-started">
          <li><span class="cta-signup">Get Started</span></li>
          <li>
            <a href="#" class="signup-action button">Sign up here</a>
            Or <a href="#" class="login-action">Login</a> to your account here.
          </li>        
        </ul>
        
    
      </div>
    </div>


<div class="overlay">

{{> login }}

{{> signup }}

</div>
